@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    border: 2px solid black;
    margin: 4px 0px;
}

.left .logo {
    padding: 8px;
}

.home ul li {
    display: flex;
    list-style-type: none;
    width: 25px;
    gap: 14px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.left-header .home {
    cursor: pointer;
}

.left .left-header {
    padding: 10px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 7px;
}

.lib-nav {
    padding: 10px;
    height: auto;
    overflow: hidden;
}

.lib-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.lib-nav ul li {
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 14px;
}
.lib-nav ul li:first-child:hover {
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.song-list li:hover {
    color: white;
}

.lib-content{
    overflow-y: auto;
    max-height: 60vh;
}

.song-container .song-list li{
    padding: 5px;
    display: flex;
    gap: 10px;
    font-size: 10px;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 4px;
    overflow: hidden;
    justify-content: space-between;
}

.music-info {
    width: 350px;
}

.play-now {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-now span {
    font-size: 12px;
    width: 60px;
    padding: 10px;
}

.left-main {
    margin: 4px;
    border: 2px solid black;
    border-radius: 7px;
    min-height: 76.4vh;
    position: relative;
    overflow-wrap: break-word;
}

.left-footer {
    position: absolute;
    bottom: 0;
    min-height: fit-content;
    margin: 4px 0;
}

.left-foot-link {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 10px;
    padding: 2%;
    overflow-wrap: break-word;
}

.left-foot-link div a {
    color: grey;
    text-decoration: none;
    font-size: 11px;
}

.right-nav {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    height: 60px;
}

.front-back,
.signup-login {
    padding: 5px;
    list-style: none;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.front-back svg {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(15, 14, 14);
    color: white;
}

.signup-login .sign-up {
    border: none;
    background: none;
    font-weight: 600;
    margin-right: 25px;
    font-size: 16px;
    color: rgb(160, 159, 159);
}
.signup-login .sign-up:hover {
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.signup-login .log-in {
    padding: 12px 35px;
    border: 2px solid white;
    border-radius: 166px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 25px;
}
.signup-login .log-in:hover {
    padding: 14px 37px;
    font-size: 15px;
    cursor: pointer;
}

.right-main-footer {
    background-color: rgb(21, 21, 21);
    padding: 15px;
    height: 73.5vh;
    overflow: auto;
}

.right-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px;
}

.right-main h3 {
    font-size: 24px;
}

.right-main h3:hover,
.right-main p:hover {
    text-decoration: underline;
}

.cardContainer {
    flex-wrap: wrap;
    gap: 7px;
}

.cardContainer .card {
    width: 165px;
    padding: 20px;
    margin: 2px;
    background-color: #252525;
    border-radius: 6px;
    position: relative;
}

.card>* {
    padding-top: 5px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card .playbtn {
    background-color: rgb(54, 229, 5);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top: 140px;
    right: 25px;
    opacity: 1;
    transition: all 1s ease-out;
}

.card:hover {
    background-color: #2c2b2b;
    cursor: pointer;
}

.main-playbar{
    background-color: rgb(85, 85, 85);
    border-radius: 25px;
    position: fixed;
    width: 72vw;
    bottom: 15px;
    height: 50px;
}

.main-playbar .song-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5.5vh;
    gap: 3vw;
}

.seekbar {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 80%;
    margin: 1vh 7vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: aliceblue;
    border-radius: 20px;
    position: relative;
    bottom: 3.2px;
    left: 0%;
    transition: left 0.5s;
}

.song-btns {
    margin: 0 20px;
}

.song-btns img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 40px;
    font-size: 10px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

@media (max-width : 1250px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all 1s ease-in-out;
        z-index: 1;
        width: 180px;
    }

    .right {
        width: 100%;
        margin: 0;
    }

    .main-playbar {
        width: 95vw;
        margin-left: 5px;
    }

    .hamburger {
        display: block;
    }

    .left-header {
        position: relative;
    }

    .closeico {
        position: absolute;
        right: 6px;
        top: 14px;
    }

    .cardContainer {
        width: calc(100% - 20px);
        justify-content: center;
    }

    .main-playbar {
        height: 17vh;
        border-radius: 7px;
    }

    .abovebar {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: -17px;
        gap: 10px;
    }
}