@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.left .logo {
    padding: 8px;
}

.home ul li {
    display: flex;
    list-style-type: none;
    width: 25px;
    gap: 14px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.left-header .home {
    cursor: pointer;
}

.left .left-header {
    padding: 10px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 7px;
}

.lib-nav {
    padding: 10px;
}

.lib-nav ul {
    justify-content: space-between;
    list-style: none;
}

.lib-nav ul li {
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 14px;
}

.left-main {
    margin: 4px;
    border: 2px solid black;
    border-radius: 7px;
    min-height: 64.5vh;
    position: relative;
    overflow-x: auto;
}

.left-footer {
    position: absolute;
    bottom: 0;
    padding-top: 25px;
}

.left-foot-link {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 15px 55px;
}

.left-foot-link div a {
    color: grey;
}

.left-foot-lang button {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border: 2px solid grey;
    border-radius: 18px;
    margin: 25px;
}

.main-footer {
    cursor: pointer;
    padding: 16px;
    justify-content: space-between;
    line-height: 20px;
}

.main-foot-btn button{
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 30px;
}

.right-nav {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.signup-login {
    align-items: center;
    gap: 10px;
}

.front-back, .signup-login {
    padding: 5px;
    list-style: none;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.front-back svg {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(15, 14, 14);
    color: white;
}

.signup-login .sign-up{
    border: none;
    background: none;
    font-weight: 600;
    margin-right: 25px;
    font-size: 16px;
    color: white;
}

.signup-login .log-in{
    padding: 15px 35px;
    border: 2px solid white;
    border-radius: 166px;
    font-weight: 600;
    margin-right: 25px;
}