.border {
    border: 2px solid rgb(255, 132, 0);
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background: rgb(17, 17, 17);
}

.white {
    color: rgb(205, 200, 200);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #3c3c3c;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}